<div data-role="page" class="plcib-page plcib-student-index">
	<%= render "partials/platform/menu" %>
	<div role="main" class="ui-content plcib-main-container">
		<div class="animated fadeIn plcib-student-index-container">
			<ul class="plcib-list-index-data" data-role="listview" data-inset="true">
				<li class="plcib-list-index-item">
					<%= link_to "Administradores", data_list_path("usuario", User.roles[:admin]), data: { ajax: false } %>
				</li>
				<li class="plcib-list-index-item">
					<%= link_to "Profesores", data_list_path("usuario", User.roles[:teacher]), data: { ajax: false } %>
				</li>
				<li class="plcib-list-index-item">
					<%= link_to "Estudiantes", data_list_path("usuario", User.roles[:student]), data: { ajax: false } %>
				</li>
				<li class="plcib-list-index-item">
					<%= link_to "Cursos", "#pr_classes", data: { ajax: false } %>
				</li>
			</ul>
		</div>
	</div>
</div>

<div id="pr_classes" data-role="page" class="plcib-page plcib-student-index">
	<%= render "partials/platform/menu" %>
	<div role="main" class="ui-content plcib-main-container">
		<div class="animated fadeIn plcib-student-index-container">
			<ul class="plcib-list-index-data" data-role="listview" data-inset="true">
				<% @courses.each do | item | %>
					<li class="plcib-list-index-item">
						<%= link_to item.capitalize, data_list_path("cursos", item), data: { ajax: "false" } %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>