<div data-role="page" class="plcib-page plcib-student-index">
	<%= render "partials/platform/menu" %>
	<div role="main" class="ui-content plcib-main-container">
		<div class="animated fadeIn plcib-student-index-container">
			<ul class="plcib-list-index-data" data-role="listview" data-inset="true">
				<% @menu_data.each do | title, lists | %>
					<li data-role="list-divider"><%= title.capitalize %></li>
					<% lists.each do | list | %>
						<li class="plcib-list-index-item">
							<%= link_to list[:url], data: { ajax: "false" }, class: "course-background #{list[:course]}" do %>
								<%= image_tag list[:icon] %>
								<h2><%= list[:course_name] %></h2>
								<p><%= list[:teacher] %></p>
								<h2>10%</h2>
							<% end %>
						</li>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>
</div>