<div data-role="page" class="plcib-page plcib-show-user">
	<%= render "partials/platform/menu" %>
	<div role="main" class="ui-content plcib-main-container">
		<ul class="plcib-user-info-list" data-role="listview" data-inset="true">
			<li class="user-main-info">
				<%= image_tag asset_url(@user[:image]), class: "user-image" %>
				<h2><%= @user[:username] %></h2>
				<p><strong><%= @user[:fullname] %></strong></p>
				<p><%= @user[:role] %></p>
			</li>

			<% @user[:extra_data].each do |items| %>
				<%= content_tag :li, class: (3 == items.length) ? "ui-grid-b" : "ui-grid-a" do %>
					<% items.each do |k, i| %>
						<%= content_tag :div, class: "ui-block-#{i[:lclass]}" do %>
							<div class="ui-bar ui-bar-a">
								<p><strong><%= k %></strong></p>
								<p><%= i[:value] %></p>
							</div>
						<% end %>
					<% end %>
				<% end %>
			<% end %>

			<%= content_tag :li, class: (@user[:add_courses]) ? "ui-grid-a" : "ui-grid-solo" do %>
				<div class="ui-block-a">
					<%= link_to "Editar", edit_user_path(@user[:username]), data: { role: "button" } %>
				</div>
				<% if @user[:add_courses] %>
					<div class="ui-block-b">
						<button class="plcib-register-course-button" type="button" data-role="button">Registrar curso</button>
					</div>
				<% end %>
			<% end %>
		</ul>
		<% if User.roles[:sys_admin] == current_user[:role] || User.roles[:admin] == current_user[:role] %>
			<%= form_for(:course_registration, html: { id: "submit_form", class: "animated plcib-course-registration-form" }) do |f| %>
				<%= content_tag :ul, class: "plcib-form-list", data: {role: "listview", inset: true} do %>
					<%= content_tag :li, id: "grade_row", class: "ui-field-contain plcib-form-row" do %>
						<%= f.label :grade, "Grado" %>
						<%= f.select :grade, options_for_select(@grades, "#{@user[:extra_data][1]["Grado"][:value].downcase if User.literal_roles.index(@user[:role]) == 3}"), {}, @user[:html_attributes] %>
					<% end %>
					<%= content_tag :li, id: "course_row", class: "ui-field-contain plcib-form-row" do %>
						<%= f.label :course, "Curso" %>
						<% if @courses.nil? %>
							<select name="course_registration[course]" id="course_registration_course"></select>
						<% else %>
							<%= f.select :course, options_for_select(@courses) %>
						<% end %>
					<% end %>
					<%= f.hidden_field :username, value: @user[:username] %>
					<%= content_tag :li, class: "ui-field-contain plcib-form-row" do %>
						<fieldset class="ui-grid-solo">
							<div class="ui-block-a"><%= f.submit "Registrar", class: "plcib-form-button" %></div>
						</fieldset>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>