<div class="pr-header-container <%= if @course_structure[:pr_type] != 0 then "lesson-header" end %>" ng-header>
    <!-- BUTTON FOR MENU -->
    <button type="button" class="menu-button toggle-left-menu" style="<%= @user_progress[:click_here] ? "display: block;" : "" %>">
        <div class="icons-bars">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
    </button>

    <% if @course_structure[:pr_type] != 0 %>
        <div class="header" ng-mouseover="onHeaderEnter()" ng-mouseleave="onHeaderLeave()">
            <h1 class="pr-opensans-light-font">Grado <%= @course_grade.capitalize %> &nbsp;></h1>

            <h2>
                <%= @course_class_name %> &nbsp;>&nbsp;
                <% if @course_structure[:lesson_app] %>
                    <b>Guía <%= @course_structure[:lesson_guide] + 1 %> &nbsp;</b>>&nbsp;
                    <b>Lección <%= @course_structure[:lesson_num] %></b>
                <% end %>
            </h2>



            <!-- <div class="header-img"></div> -->
            <div class="pr-header-display-icon arrow">
                <div class="pr-icon pr-icon-tiny-arrow" ng-class="{'up': !showTitle}"></div>
            </div>

            <div id="pr_header_dropdown_menu" class="row pr-header-dropdown-menu" ng-mouseleave="onHeaderLeave()">
                <div class="col-md-6 col-sm-7 pr-header-info-container">
                    <div class="pr-opensans-light-font header-info-title">
                        <%= @course_class_name %>
                    </div>
                    <div class="pull-left shadow-effect-1">
                        <div class="col-md-9 header-info-content">
                            <ul class="list-unstyled">
                                <% if @course_structure[:lesson_app] %>
                                    <li><b>Grado: </b><%= @course_grade %></li>
                                    <li><b>Guía: </b><%= @course_structure[:lesson_guide] + 1 %></li>
                                    <li><b>Lección: </b><%= @course_structure[:lesson_num] %></li>
                                <% end %>
                            </ul>
                        </div>
                        <div class="col-md-3 header-info-progress">
                            <div class="pr-icon pr-icon-cup"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 pr-header-image">
                    <div class="pr-header-image-container">
                        <%= image_tag "#{@course_structure[:resources] + @course_structure[:header_img]}", class: "img-responsive" %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>

<!-- LEFT MENU - CIRCULAR -->
<!-- Cog Button -->
<div class="cn-button-bg"></div>
<div class="cn-button"></div>

<!-- Circular menu icons -->
<div class="cn-wrapper" id="cn-wrapper">
    <ul>
        <li><a href="#"><span class="pr-icon pr-icon-tiny-video"></span></a></li>
        <li><a href="#"><span class="pr-icon pr-icon-tiny-audio"></span></a></li>
        <li><a href="#"><span class="pr-icon pr-icon-tiny-chat"></span></a></li>
        <li><a href="#"><span class="pr-icon pr-icon-tiny-pdf"></span></a></li>
    </ul>
</div>