<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Primaria Regular</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<% if @course_structure %>
	<base href="<%= "#{root_url}#{@course_structure[:lesson_url] || @course_structure[:course_url]}/" %>">
<% end %>
<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<!-- Assets -->
<%= include_gon %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag :jquery %>
<%= javascript_include_tag :jquery_ujs %>
<%= csrf_meta_tags %>