<!DOCTYPE html>
<html lang="es" class="no-js">
<head>
	<%= render "partials/head" %>
</head>
<body class="<%= @course_class %>" ng-app="<%= @course_app %>">
	<%= render "partials/header" %>

	<!-- Navbar for Slider -->
	<!--<div data-appm-slider-menu></div>-->

	<div class="site-container <%= "wrapper" if @course_structure[:pr_type] == 0 %>">
	    <div id="pusher" class="pusher">
	        <nav id="left-menu" class="left-menu" ng-lateral-menu>
	            <div class="mp-level">
	                <!-- NIVEL PRINCIPAL-->
	                <a href="<%= @course_structure[:course_url] %>">
	                    <div class="left-menu-main-img pr-icon pr-icon-location"></div>
	                    <h1>Presentación del curso</h1>
	                </a>

	                <h1>Navegación</h1>
	                <!-- Guides -->
	                <div class="left-menu-items">

	                	<% @user_progress[:progress].each_with_index do |prog, key| %>
							<div class="left-menu-guide-cont" ng-init="subActive = false" ng-mouseover="showSubmenu($event, this)" ng-mouseleave="hideSubmenu($event, this)" ng-model="subActive">
		                        <a href="" class="left-menu-guide">Guía <%= key + 1 %></a>
		                        <div class="left-menu-add">
		                            <div class="left-menu-add-content">
		                            	<% prog.each do |i, less| %>
			                                <a ng-disabled="<%= !less[:enabled] %>" ng-left-menu-item-manage="{ guide: <%= key %>, lesson: <%= i.to_s %> }" href="<%= less[:link] %>" class="<%= "#{'disabled' unless less[:enabled]} #{'current' if less[:current]}" %>">
			                                    Lección <%= i %>
			                                    <% unless less[:enabled] %>
			                                    	<div class="pr-icon pr-icon-tiny-circle-lock tinier pr-menu-lesson-locked"></div>
	                                    		<% end %>
			                                </a>
		                                <% end %>
		                                <%= image_tag @course_structure[:resources] + @course_structure[:menu_img], style: @course_structure[:menu_img_styles] %>
		                            </div>
		                        </div>
		                    </div>
	                	<% end %>
	                </div>

	            </div> <!--.mp-level-->
	        </nav> <!-- /#left-menu-->

	        <div class="container-fluid main-container" ng-page>
	            <!-- Angular views -->
	            <div ng-view class="row page at-view-fade-in at-view-fade-out <%= "pr-lesson-container" if @course_structure[:pr_type] != 0 %>" ng-class="{'pr-activity-container': $root.routeIndex >= $root.totalConcepts}"></div>
	        </div>

	    </div> <!-- /#pusher -->
	</div> <!-- /site-container-->
	
	<%= render "partials/slider" %>
	
	<script type="text/javascript">
	    $(function () {
	        // Open the left circular menu on click
	        $('.cn-button').click(function () {
	            $('.cn-button, .cn-wrapper').toggleClass('active');
	        });

	        // Open the circular menu on click
	        $('.toggle-circular-menu').click(function () {
	            $('.circular-menu').toggleClass('opened');
	        });

	    });
	</script>

	<%= yield %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
