<!DOCTYPE html>
<html lang="es" class="no-js">
<head>
	<%= render "partials/head" %>
</head>
<body class="<%= @courseClass %>" ng-app="<%= @courseApp %>">
	<%= render "partials/header" %>

	<!-- Navbar for Slider -->
	<!--<div data-appm-slider-menu></div>-->

	<div class="site-container" ng-class="{'wrapper': !totalActivities}">
	    <div id="pusher" class="pusher">
	        <nav id="left-menu" class="left-menu" ng-lateral-menu>
	            <div class="mp-level">
	                <!-- NIVEL PRINCIPAL-->
	                <a href="{{rootRoute}}">
	                    <div class="left-menu-main-img pr-icon pr-icon-location"></div>
	                    <h1>Presentación del curso</h1>
	                </a>

	                <h1>Navegación</h1>
	                <!-- Guides -->
	                <div class="left-menu-items">

	                    <div class="left-menu-guide-cont" ng-repeat="guides in course[courseModule] track by $index" ng-init="subActive = false" ng-mouseover="showSubmenu($event, this)" ng-mouseleave="hideSubmenu($event, this)" ng-model="subActive">
	                        <a href="" class="left-menu-guide">Guía {{$index + 1}}</a>
	                        <div class="left-menu-add">
	                            <div class="left-menu-add-content">
	                                <a ng-disabled="!lesson.enabled" ng-left-menu-item-manage href="{{lesson.template}}" ng-repeat="lesson in guides track by $index" ng-class="{'disabled': !lesson.enabled, 'current': lesson.current}">
	                                    Lección {{$index + 1}}
	                                    <div class="pr-icon pr-icon-tiny-circle-lock tinier pr-menu-lesson-locked" ng-if="!lesson.enabled"></div>
	                                </a>
	                                <img ng-src="{{$root.courseMenuImg}}" style="{{$root.courseMenuImgStyles}}">
	                            </div>
	                        </div>
	                    </div>
	                </div>

	            </div> <!--.mp-level-->
	        </nav> <!-- /#left-menu-->

	        <div class="container-fluid main-container">
	            <!-- Angular views -->
	            <div ng-view class="row page at-view-fade-in at-view-fade-out" ng-class="{'pr-lesson-container':$root.totalActivities, 'pr-activity-container': $root.routeIndex >= $root.totalConcepts}" ng-page></div>
	        </div>

	    </div> <!-- /#pusher -->
	</div> <!-- /site-container-->
	
	<%= render "partials/slider" %>
	
	<script type="text/javascript">
	    $(function () {
	        // Open the left circular menu on click
	        $('.cn-button').click(function () {
	            $('.cn-button, .cn-wrapper').toggleClass('active');
	        });

	        // Open the circular menu on click
	        $('.toggle-circular-menu').click(function () {
	            $('.circular-menu').toggleClass('opened');
	        });

	    });
	</script>

	<%= yield %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
