<!DOCTYPE html>
<html lang="es" class="no-js">
<head>
	<%= render "partials/head" %>
</head>
<body class="<%= @course_class %> <%= @course_grade %>" ng-app="<%= @course_app %>" ng-csp="">
	<%= render "partials/header" %>

	<!-- Navbar for Slider -->
	<!--<div data-appm-slider-menu></div>-->

	<nav id="left-menu" class="left-menu" ng-lateral-menu>
	            <div class="mp-level">
	                <!-- NIVEL PRINCIPAL-->
	                <%= link_to root_url + @course_structure[:course_url] do %>
						<div class="left-menu-main-img pr-icon pr-icon-location"></div>
	                    <h1>Presentación del curso</h1>
	                <% end %>

	                <h1>Navegación</h1>
	                <!-- Guides -->
	                <div class="left-menu-items">

	                	<% @user_progress[:progress].each_with_index do |prog, key| %>
	                		<% if prog %>
								<div class="left-menu-guide-cont" ng-init="subActive = false" ng-mouseover="showSubmenu($event, this)" ng-mouseleave="hideSubmenu($event, this)" ng-model="subActive">
			                        <a href="" class="left-menu-guide">Guía <%= key + 1 %></a>
			                        <div class="left-menu-add">
			                            <div class="left-menu-add-content">
			                            	
			                            	<% prog.each do |i, less| %>
			                            		<%= link_to root_url + less[:link], class: "#{'disabled' unless less[:enabled]} #{'current' if less[:current]}", ng_disabled: !less[:enabled],ng_left_menu_item_manage: "{ guide: #{key}, lesson: #{i.to_s} }" do %>
													Lección <%= i %>
				                                    <% unless less[:enabled] %>
				                                    	<div class="pr-icon pr-icon-tiny-circle-lock tinier pr-menu-lesson-locked"></div>
		                                    		<% end %>
			                            		<% end %>
			                                <% end %>
			                                <%= image_tag @course_structure[:resources] + @course_structure[:menu_img], style: @course_structure[:menu_img_styles] %>
			                            </div>
			                        </div>
			                    </div>
		                    <% end %>
	                	<% end %>
	                </div>

	            </div> <!--.mp-level-->
	        </nav> <!-- /#left-menu-->

	        <div class="container-fluid main-container <%= "lesson-main-container" if @course_structure[:pr_type] != 0 %>" ng-page>
	            <!-- Angular views -->
	            <div ng-view class="<%= "row" if @course_structure[:pr_type] == 0 %> page at-view-fade-in at-view-fade-out <%= "pr-lesson-container" if @course_structure[:pr_type] != 0 %>" ng-class="{'pr-activity-container': $root.routeIndex >= $root.totalConcepts, 'pr-lesson-intro': $root.routeIndex == 0 && isLesson}"></div>
	        </div>
	
	<%= render "partials/slider" %>
	
	<script type="text/javascript">
	    $(function () {
	        // Open the left circular menu on click
	        $('.cn-button').click(function () {
	            $('.cn-button, .cn-wrapper').toggleClass('active');
	        });

	        // Open the circular menu on click
	        $('.toggle-circular-menu').click(function () {
	            $('.circular-menu').toggleClass('opened');
	        });

	    });
	</script>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<%= yield %>
</body>
</html>
