<!DOCTYPE html>
<html lang="es" class="no-js">
<head>
	<%= render "partials/head" %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag 'platform/platform' %>
</head>
<body>
	<div data-role="header" data-position="fixed" class="plcib-header">
		<a href="#" class="ui-btn-left ui-alt-icon ui-nodisc-icon ui-btn ui-icon-carat-l ui-btn-icon-notext ui-corner-all" data-rel="back" data-role="button"></a>
		<h1 class="plcib-header-title"><%= @header_title %></h1>
		<!-- <a href="#plcib_panel" class="ui-button-right" data-role="button">Menú</a> -->
		<%= link_to "Menú", "#plcib_panel", class: "ui-button-right plcib-menu-header-button" if logged_in? %>
	</div>

	<%= yield %>

	<div class="plcib-notify-box">
		<a href="#" class="close-cross">x</a>
		
		<div class="plcib-notify-container">
			<%= yield :notify %>
		</div>
	</div>

	<%= javascript_include_tag 'platform', 'data-turbolinks-track' => true %>
</body>
</html>