<!DOCTYPE html>
<html lang="es" class="no-js">
<head>
	<%= render "partials/head" %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag 'platform/platform' %>
</head>
<body>

	<%= yield %>

	<div class="plcib-notify-box">
		<a href="#" class="close-cross">x</a>
		
		<div class="plcib-notify-container">
			<%= yield :notify %>
		</div>
	</div>

	<%= javascript_include_tag 'platform', 'data-turbolinks-track' => true %>
</body>
</html>